html {
  background: #fff;
}

.backfaceVisibility {
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}

.header-background {
  background-color: '#17428B';
}

body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
}

.menu-item-button {
  margin:1em;
  padding:2em;
  border:2px solid #fff;
  font-size: 120%;
  color:black;
}

#login {
  text-align:center;
}

#login label {
  padding: 1em;
}

input[type='number'], input[type='text'], input[type='password'], input {
  margin-bottom: 2em;
  width:80%;
  padding:1em; 
}

#login input[type='submit'] {
  font-size:30px;
  background-color: inherit;
  border: 2px solid white;
  padding:0.3em 1.5em;
}

.scanResult {
  padding: 1em;
  font-size: 120%;
 
}

